.navbar {
    background-color: #000610;
    z-index: 10;
    position: fixed;
    /* width: 98.9vw; */
    /* display: block; */
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    font-family: 'Roboto';
}

.navbar-link {
    display: flex;
    gap: 10px;
}

.navbar>.navbar-link-container {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar>.navbar-link-container>.navbar-link>a {
    color: white;
    text-decoration: none;
}

.updateDetailsBtn{
    margin-top: 20px;
}